
nav{
  background: skyblue;
}

body{
  background: #e2e2e2;
}

table {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}

td{
  width: 33.33%;
  position: relative;
  color: #101935;
  background: #F2FDFF;
  border: 4px solid #DBCBD8;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out, color 0.5s ease-out;
}

td:hover{
  background: #564787;
  color: #F2FDFF;
}

.alive{
  background: #9DD1F1;
}

.btn{
  background: #93C0A4
}

.controller{
  margin-top: 10px;
  text-align: center;
}

.pause{
  background: #be3131;
}
