
nav{
  background: skyblue;
}

body{
  background: #e2e2e2;
}

table {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  border-collapse:collapse;
}

td{
  // width: 33.33%;
  // position: relative;
  padding: 7px;
  background: #F2FDFF;
  border: 3px solid #DBCBD8;
  border-radius: 1px;
  cursor: pointer;
  transition: background 0.3s ease-out;
}

td:hover{
  background: #564787;
}

.alive{
  background: #61baf2;
}

.btn{
  background: #93C0A4
}

.controller{
  text-align: center;
}

.pause{
  background: #be3131;
}

.generation{
  background: #977fd0;
  cursor: default;
  pointer-events: none;
  margin-top: 2px;
}

.board {
  padding: 0px !important;
  height: 100px;
  overflow: hidden;
  display: table;
  -webkit-box-shadow: 3px 5px 45px -2px rgba(0,0,0,0.36);
  -moz-box-shadow: 3px 5px 45px -2px rgba(0,0,0,0.36);
  box-shadow: 3px 5px 45px -2px rgba(0, 0, 0, 0.36)
}
