main {
  flex: 1 0 auto;
}
nav{
  background: skyblue;
}

body{
  background: #e2e2e2;
}


.controller{
  margin-top: 10px;
  text-align: center;
}

.board{
  border: black solid 3px;
  height: 50vh;
}
